<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  
  <body class="flex-column">
    <%- include('includes/navbar') %>
    
    <div class="main-container flex-row">
      <%- include('includes/sidebar', {categories: categories}) %>
      
      <div class="products-container flex-column">
        <div>
          We found <%= numberOfProducts %> products. Use navigation to see category products.
        </div>
        <div class="flex-row flex-center s-gap mt-1">
          <% for(let i = 1; i < numberOfPages + 1; i++) { %>
            <a href=<%= "/products?page=" + i %>>
              <%= i %>
            </a>
          <% } %>
        </div>
        
        <div class="products-list-container flex-column m-gap mt-1">
          <% for(product of products) { %>
            <%- include('includes/product-item', {product}) %>
          <% } %>
        </div>
      </div>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
